.DetailsContainer {
    width: 600px;
    height: 125px;
    border-color: #2a90cf;
    margin-left: 25%;
    border: 2px solid #2a90cf;
    border-radius: 10px;
}

.highlight {
    margin-top: 12px;
    margin-left: 20px;
}

.PatientContainer {
    width: 50%;
    height: 500px;
    border-color: #2a90cf;
    margin-left: 25%;
    border: 2px solid #2a90cf;
    border-radius: 10px;
}

.PatientData {
    margin-left: 40px;
    margin-top: 20px;
}

.PatientSubmit {
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 40px;
    width: 20%;
    font-size: large;
    background-color: white;
    border: 3px solid #8ac2e6;
    color: #2a90cf;
    border-radius: 5px;
}

.PatientSubmit:hover {
    background-color: #2a90cf;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.PatientText {
    width: 90%;
    height: 37px;
    border-radius: 5px; 
    border: 1px solid #2a90cf;
    
}

.PatientDropdown {
    width: 20%;
    height: 37px;
    border-radius: 5px;
    border-color: #2a90cf;
}

.ChannelHeading {
    margin-left: 26%;
    margin-top: 60px;
}

