.AppoinmentHead {
    margin-left: 42%;
    margin-top: 60px;
}

.AppoinmentContainer {
    width: 56%;
    height: 300px;
    border-color: #2a90cf;
    margin-left: -15%;
    margin-top: 4%;
    border: 2px solid #2a90cf;
    border-radius: 10px;
}

.AppoinmentData {
    margin-left: 40px;
    margin-top: 20px;
}

.AppoinmentDropdown {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    margin-left: 89px;
    border-color: #2a90cf;
}

.AppoinmentDropdown1 {
    width: 86%;
    height: 40px;
    border-radius: 5px;
    margin-left: 96px;
    border-color: #2a90cf;
}
.AppoinmentText {
    width: 94%;
    height: 40px;
    border-radius: 5px; 
    margin-left: 5px;
    border: 1px solid #2a90cf;
}

.AppoinmentSubmit {
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 44px;
    width: 40%;
    font-size: large;
    background-color: white;
    border: 3px solid #8ac2e6;
    color: #2a90cf;
    border-radius: 5px;
}

.AppoinmentSubmit:hover {
    background-color: #2a90cf;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}