.SearchHead {
    margin-left: 46%;
    margin-top: 60px;
}

.SearchContainer {
    width: 40%;
    height: 365px;
    border-color: #2a90cf;
    margin-left: 30%;
    margin-top: 4%;
    border: 2px solid #2a90cf;
    border-radius: 10px;
}

.SearchData {
    margin-left: 40px;
    margin-top: 20px;
}

.SearchText {
    width: 90%;
    height: 35px;
    border-radius: 5px; 
    margin-left: 5px;
    border: 1px solid #2a90cf;
}

.SearchButton {
    margin-left: 36%;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    height: 40px;
    width: 26%;
    font-size: large;
    background-color: white;
    border: 3px solid #8ac2e6;
    color: #2a90cf;
    border-radius: 5px;
}

.SearchButton:hover,
.ResetButton:hover {
    background-color: #2a90cf;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.ResetButton {
    margin-left: 2%;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    height: 40px;
    width: 26%;
    font-size: large;
    background-color: white;
    border: 3px solid #8ac2e6;
    color: #2a90cf;
    border-radius: 5px;
}

.SpecializationDropdown {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
    border-color: #2a90cf;
}